@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto/Roboto-Regular.woff");
    src: local("0"), url("fonts/Roboto/Roboto-Regular.woff"), url("fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto/Roboto-Bold.woff");
    src: local("0"), url("fonts/Roboto/Roboto-Bold.woff"), url("fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto/Roboto-Medium.woff");
    src: local("0"), url("fonts/Roboto/Roboto-Medium.woff"), url("fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto/Roboto-Light.woff");
    src: local("0"), url("fonts/Roboto/Roboto-Light.woff"), url("fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
